package {{.Package}}

import (
    "testing"

    "github.com/chippers255/advent-of-code/pkg/solver"
)

var sampleInput = []byte("1\n2\n3\n")

func TestPart1(t *testing.T) {
    s := Solver{}
    got, err := s.Part1(solver.Context{Year: {{.Year}}, Day: {{.Day}}, Input: sampleInput, Sample: true})
    if err != nil {
        t.Fatalf("Part1 error: %v", err)
    }
    if got != "3" {
        t.Fatalf("Part1 = %s, want %s", got, "3")
    }
}

func TestPart2(t *testing.T) {
    s := Solver{}
    got, err := s.Part2(solver.Context{Year: {{.Year}}, Day: {{.Day}}, Input: sampleInput, Sample: true})
    if err != nil {
        t.Fatalf("Part2 error: %v", err)
    }
    if got != "3" {
        t.Fatalf("Part2 = %s, want %s", got, "3")
    }
}
